* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* navbar */
a {
  cursor: pointer;
}

nav,
footer {
  display: flex;
  text-transform: uppercase;
  background-color: #283f51;
  justify-content: space-between;
  color: #a6b0b7;
  align-items: center;
}

.left {
  font-family: "Lato", sans-serif;
  padding: 20px 40px 20px 40px;
  font-size: 50px;
  letter-spacing: 5px;
  line-height: 48px;
}

ul {
  display: flex;
}

.right-nav {
  padding-right: 50px;
}

.venue {
  align-self: flex-start;
  position: relative;
  padding-left: 5px;
  padding-bottom: 8px;
}

li {
  list-style: none;
  margin-top: 20px;
}

ul li a {
  color: #fff;
  padding: 10px 10px 8px 8px;
}

/* main */

main {
  color: #628074;
  display: flex;
  justify-content: space-between;
  padding: 60px;
  font-size: 20px;
}

.nav-2 {
  height: 150px;
  background-color: #d4e6c4;
  font-family: "Open Sans", sans-serif;
  color: #739789;
  padding: 50px 10px 0 40px;
  text-align: center;
}

.nav-2 h1 {
  padding-bottom: 20px;
}

.nav-2 p {
  width: 800px;
  margin: 0 auto;
}

.main-text {
  width: 750px;
}

h3 {
  padding: 10px 10px 10px 0;
  letter-spacing: 1px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

.main-text p {
  padding-bottom: 10px;
}

.main-text ul {
  flex-direction: column;
  padding-left: 30px;
}

.li-2 {
  list-style: square;
  line-height: 5px;
  font-size: 18px;
}

.main-form {
  width: 350px;
  padding: 10px;
}

label {
  font-weight: 700;
}

input,
select,
textarea {
  border-radius: 5px;
  border: solid 1px #628074;
  padding: 5px;
  margin: 8px 0 25px 0;
  outline: #283f51;
  color: #283f51;
}

input,
textarea {
  width: 250px;
}

.checkbox {
  width: 15px;
  display: inline-block;
}

.checkbox #checkbox {
  width: 30px;
  padding-top: 5px;
}

textarea {
  font-family: "Lato", sans-serif;
  padding: 10px;
}

button {
  background-color: #283f51;
  color: #fff;
  border: none;
  padding: 10px 20px 10px 20px;
  font-size: 15px;
  border-radius: 5px;
  font-weight: 600;
}

/* footer */

footer {
  height: 100px;
  padding: 0 50px 0 50px;
}

.footer-nav li {
  padding: 0 8px 0 8px;
  color: #fff;
}
